@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding:0;
    margin:0;
}
body{
 display:flex; 
 margin:0;
 flex-direction:column;
 font-family:Roboto;
}
.header{
    background:#1F2937;  
}
.header-link{
    font-size:18px;
    font: #F9FAF8;
}

a{
    color:#FFFFFF;
    text-decoration:none;
   
}
ul{
    display:flex;
    list-style-type: none;
}
#header-logo{
    font-size: 24px;
    font: #F9FAF8;
}


